<section class="container">
  <header>Registration Form</header>

  <!-- 1) ngForm directive will store the referennec of js object for that form and I am assign reference of form in registrationForm template variable -->
  <!-- 2) Creating form control ,need to use name property and ngModel directive(used to tell it is a form control) -->
  <!-- 3) A form is considered as touched if any of its form control is touched.by default form control is marked as touched ,when we focus on one field and click outside that field -->
  <!-- 4) a form is marked as dirty if any of its form control have same value changed from its previous value.If it's value does not change ,then that form or form control wiulll be pristine-->
  <form class="form" #registrationForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="column">
      <div class="input-box">
        <input type="text" placeholder="First Name" name="fName" [(ngModel)]="fName" required #firstName="ngModel" />
        <!-- firstName reference variable will contsin refer of form control of fName -->
        <!-- <small *ngIf="firstName.touched && firstName.invalid">*First Name is a required field</small> -->
        <!-- using two way data binding other way -->
        <!-- <p *ngIf=firstName.value>Your FIRST NAME entered: {{firstName.value}} </p> //normal way -->
        <p *ngIf="fName">Your FIRST NAME entered: {{fName}} </p>
      </div>
      <div class="input-box">
        <input type="text" placeholder="Last Name" name="lName" ngModel required #lastName="ngModel" />
        <small *ngIf="lastName.touched && lastName.invalid">*Last Name is a required field</small>
      </div>
    </div>

    <div class="input-box">
      <input type="text" placeholder="Email" name="email" ngModel required email />
      <!-- showing multiple custom error message for oe form control -->
      <small *ngIf="registrationForm.controls['email']?.touched && !registrationForm.controls['email']?.value">*Email is
        a required field</small>
      <small
        *ngIf="registrationForm.controls['email']?.touched && registrationForm.controls['email']?.value && registrationForm.controls['email']?.invalid ">*Enter
        valid email</small>

    </div>

    <div class="column">
      <div class="input-box">
        <input type="number" placeholder="Phone Number" name="phoneNo" ngModel />
      </div>
      <div class="input-box">
        <input type="date" placeholder="Date of Birth" name="dob" ngModel required />
      </div>
    </div>
    <div class="column">
      <div class="input-box">
        <input type="text" placeholder="User Name" name="userName" ngModel />
      </div>

    </div>
    <div class="column">
      <div class="input-box">
        <input [disabled]="firstName.invalid || lastName.invalid || registrationForm.controls['dob']?.invalid"
          type="button" value="Create UserName" class="submit-btn" (click)="generateUserName()" />
      </div>
    </div>


    <div class="gender-box">
      <h3>Gender</h3>
      <div class="gender-option">
        @for(gender of genderList;track $index;let id=$index){
        <div class="gender">
          <input type="radio" [id]="gender.id" name="gender" [value]="gender.value" [ngModel]="defaultGender" />
          <label [for]="gender.id">{{gender.label}}</label>
        </div>
        }


      </div>
    </div>

    <!-- Grouping of form control -> Usecase if we want to show some error on group  of form control instead of individual form control -->
    <div class="input-box address" ngModelGroup="address" #addr="ngModelGroup">
      <!--ngModelGroup will contain referenece of formgroup address and i am storing in add template reference varaiable-->
      <label>Address</label>
      <input type="text" placeholder="Street address" name="streetAdd1" ngModel required />
      <input type="text" placeholder="Street address line 2" name="streetAdd2" ngModel />
      <div class="column">
        <div class="select-box">
          <select name="country" [ngModel]="selectedCountry" required>
            <option hidden>Country</option>
            <option>America</option>
            <option>Japan</option>
            <option>India</option>
            <option>Nepal</option>
          </select>
        </div>
        <input type="text" placeholder="City" name="city" ngModel />
      </div>
      <div class="column">
        <input type="text" placeholder="Region" name="region" ngModel />
        <input type="number" placeholder="Postal code" name="postalCode" ngModel />
      </div>
      <small *ngIf="addr.invalid && addr.touched">*Some addrress fields are required</small>
    </div>


    <div class="column">
        <input type="checkbox" name="termsAndCondition" [ngModel]="tNC" /> <!--//SETTING default of checkbox to false by using ngModel property binding by default it is empty string-->
        <label>Allow Terms and Conditions</label>
    </div>
    <input type="submit" value="Submit" class="submit-btn"
      [disabled]="firstName.invalid || lastName.invalid || registrationForm.controls['email']?.invalid">
    <!-- by default a button present in form is of type=submit -->
  </form>
</section>