<div class="app-login-form">
    @if(isLoading){
    <app-loader></app-loader>
    }@else{
    <h2>{{isLogin ? 'Login' : 'Register'}} Here</h2>
    <form [formGroup]="loginSignUpForm" (ngSubmit)="onSubmit()">
        <div class="form-input">
            <label>Email Address</label>
            <input type="email" placeholder="Email address" formControlName="userName">
        </div>
        <div class="form-input">
            <label>Password</label>
            <input type="password" placeholder="Password" formControlName="password">
        </div>
        <button type="submit" [disabled]="loginSignUpForm.invalid" type="submit" class="app-login-btn">{{isLogin
            ?"Login" : 'Register'}}</button>
        <p>{{isLogin ? 'Do not have an accout yet' : 'Already Registered'}}?
            <button type="button" class="app-toggle-btn" (click)="toggleForm()">{{isLogin ? "Register" : "Login"}}
                Here.</button>
        </p>
    </form>
    }
</div>