<div style="margin-top: 50px; display: flex; flex-direction: column;  justify-content: center; gap: 10px;">
  <h3>Number</h3>
  @for(num of dataList;track $index){
    <div style="color:grey;padding: 10px; width: 100px; height: 30px;background-color: black;">{{num}}</div>
  }
  <button style="width: 140px;" (click)="onClick()">Show Numbers</button>
</div>

<h2>RxJs operators</h2>
<div>
  <h4>of() Operator -> Used to convert parameter value in observable</h4>
  <h5>Can pass any number of arguments</h5>
  <h5>Emit value for each parameter one by one in the order in which they are passed in function</h5>
  <H5>iF ARRAY AND STRING ARE PASSED,then it will  not emit for  each value in iterables,intaed emit entire string and array  </H5>

    <h4>from() Operator -> Used to convert parameter value in observable</h4>
  <h5>Can pass only 1 argument which needs to be iterable</h5>
  <H5>iF ARRAY AND STRING ARE PASSED,then it will   emit for  each value in iterables  </H5>


</div>